@font-face {
	font-family: 'unscii16';
	src: url('../fonts/unscii-16-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'unsciilight';
	src: url('../fonts/unscii-16-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@media (min-width: 10px) {
	:root {
		--size-divisor: 6;
		--size-divisor2: 2.5;
	}
}
@media (min-width: 250px) {
	:root {
		--size-divisor: 4;
		--size-divisor2: 2.3;
	}
}
@media (min-width: 330px) {
	:root {
		--size-divisor: 3;
		--size-divisor2: 2.25;
	}
}
@media (min-width: 470px) {
	:root {
		--size-divisor: 2.25;
		--size-divisor2: 2;
	}
}
@media (min-width: 530px) {
	:root {
		--size-divisor: 2;
		--size-divisor2: 1.75;
	}
}
@media (min-width: 630px) {
	:root {
		--size-divisor: 1.5;
		--size-divisor2: 1.5;
	}
}
@media (min-width: 768px) {
	:root {
		--size-divisor: 1.25;
		--size-divisor2: 1.25;
	}
}
@media (min-width: 992px) { 
	:root {
		--size-divisor: 1;
		--size-divisor2: 1;
	}
}

body {
	background-color: #140c1c;
	color:#deeed6;
	margin: 0px;
	/*background: url(images/stars.png) center center;*/
	background-size: cover;
	margin-top: calc(2.9em / var(--size-divisor2)) !important;
}

.unscii {
	font-family: unscii16 !important;
	font-size:   32px;
}
.page.grid{
	margin-top: calc(5em / var(--size-divisor2)) !important;
}

.navbar {
	line-height: 1.15 !important;
	white-space: nowrap;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar ul {
	/* padding: calc(0.7em / var(--size-divisor)); */
	padding: calc(0.7em / var(--size-divisor));
	list-style-type: none;
	margin: 0;
	background-color: #deeed6;
}
.navbar li {
	font-size: calc(1.5em / var(--size-divisor));
	margin: 0.5em;
	display: inline;
	float: center;
}
.navbar a, 
.navbar a:visited
{
	text-decoration: none;
	color: #d04648;
}
.navbar a:hover
{
	color: #597dce;
}

.blurb {
	padding-top: 5vw;
	padding-bottom: 5vw;
}

.bigcontent {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 100vw;
}
.bigcontent .runecontainer {
	width: 90%;
	max-width: 45em;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}
.bigcontent .runecontainer .rune {
	width: 100%;
	margin: auto;
}

.bigcontent .titlecontainer {
	width: 89.6%;
	max-width: 45em;
	margin: auto;
	margin-bottom: 5vw;
}
.bigcontent .titlecontainer .title {
	width: 100%;
}

.gifcontainer {
	margin: auto;
	width: 95%;
}
.gifcontainer .gif {
	border-color: #442434;
	border-style: solid;
	border-width: 0.12em;
	margin-top: 5vw;
	width: 97%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gifcontainer ul {
	padding-left: 0.2em;
}
.gifcontainer ul li {
	font-size: 0.85em;
	line-height: 1.2em;
	display: list-item;
	list-style-type: circle;
	padding-left: 1em;

}


.content ul > ul {
	margin-left: 24px;
}

.content li {
	margin: 0.75em;
}

.content .list > li {
	margin-top:40px;
	color: #f4f4f4;
}


.parallaxContainer {
	width: 100%;
	height: 56vw;
	position: relative;
	overflow: hidden;
}
.layer {
	display: block;
	position: absolute;
	width: 100vw;
	height: 60vw;
}
.gamelogo {
	background: url(../images/logo.png) no-repeat top center;
	background-size: contain;
	top: 2vw;
}
.maire {
	background: url(../images/maire+kaakana-neo.png) no-repeat center center;
	background-size: cover;
	top: -8vw;
}
.pilvietu {
	background: url(../images/pilvi-etu.png) no-repeat bottom center;
	background-size: contain;
	top: -4vw;
	left: -8vw;
}
.pilvitaka {
	background: url(../images/pilvi-taka.png) no-repeat center center;
	background-size: contain;
	top: -12vw;
}
.comet {
	background: url(../images/comet-neo.png) no-repeat center center;
	background-size: contain;
	top: -4vw;
}

.stars {
	background: url(../images/stars-neo.png) no-repeat fixed center;
	background-size: cover;
}

.pixelart
{
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property) */
	image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
	image-rendering: -webkit-crisp-edges; /* Safari 7+ */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
	image-rendering: -o-crisp-edges; /* Opera 12 */
	image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
}

.content {
	margin: auto;
	max-width: 900px;
}

.headImg {
	/*768x216 (3.555555555556)*/
	display: inline-block;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content p {
	margin-bottom: 64px;
}

.content h1 {
	text-align: center;
	color:#deeed6;
	font-size: calc(3.25em / var(--size-divisor));
	font-weight: normal;
}

.content h2 {
	text-align: center;
	color: #8595a1;
	font-size: calc(2.125em / var(--size-divisor));
	font-weight: normal;
}

.content a {
	color:#d04648;
}

.content h2 a, 
.content h2 a:visited
{
	color: #94b0c2;
}

.content a:visited {
	color: #597dce;
}

.content a:hover, 
.content h2 a:hover 
{
	color: #6dc2ca;
}

.light {
	font-family: unsciilight;
}

.overlay {
	position: absolute;
}
.hugeImage {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	/*768x216 (3.555555555556)*/
	display: inline-block;
	max-width: 768px;
	margin-left: 32px;
}

.footer {
	font-size: 20px;
}
.foobar
{
	padding: 20px;
	background-color: #deeed6;
	color: #140c1c;
}

.foobar ul {
	list-style-type: none;
	padding: 0;
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%; /*16:9*/
	height: 0;
	width: 95%;
	margin: auto;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
iframe { zoom: 2;  }
}
*/
.sweetie16 {
	color: #1a1c2c;
	color: #5d275d;
	color: #b13e53;
	color: #ef7d57;
	color: #ffcd75;
	color: #a7f070;
	color: #38b764;
	color: #257179;
	color: #29366f;
	color: #3b5dc9;
	color: #41a6f6;
	color: #73eff7;
	color: #f4f4f4;
	color: #94b0c2;
	color: #566c86;
	color: #333c57;
}

.db16 {
	color: #140c1c;
	color: #442434;
	color: #30346d;
	color: #4e4a4e;
	color: #854c30;
	color: #346524;
	color: #d04648;
	color: #757161;
	color: #597dce;
	color: #d27d2c;
	color: #8595a1;
	color: #6daa2c;
	color: #d2aa99;
	color: #6dc2ca;
	color: #dad45e;
	color: #deeed6;
}

