<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/css/emuuromstyle.css" | relative_url }}">
  </head>
  <body>
		<div class="navbar unscii">
			<ul>
				<li><a href="https://store.steampowered.com/app/1634360/EMUUROM/">STEAM</a></li>
				<li><a href="https://borbware.itch.io/emuurom">ITCH</a></li>
				<li><a href="https://borb.bandcamp.com/album/emuurom-ost">OST</a></li>
				<li><a href="/presskit/emuurom/">PRESS</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/">HOME</a></li>
			</ul>
		</div>
    {{ content }}
  </body>
</html>